---
import Container from '../components/Container.astro';
import ProfilePhoto from '../components/ProfilePhoto.astro';
import Layout from '../layouts/Page.astro';
---

<Layout>
  <Container bottomPadding topPadding narrow flow>
    <ProfilePhoto/>
    <h1>About Us</h1>
    <p>We both have a love for Photography which led to us creating our website to share our work, 
      and offer our services to anyone interested! We do all sorts of different type of Photography! 
      But we also have other projects outside of photography, check us out below!</p>
    <br>
    <h3>More about Adam,</h3>
    <p>Check out, <a href="https://matthiesen.xyz">Matthiesen.XYZ</a></p>
    
  </Container>
</Layout>
