---
import Container from '../components/Container.astro';
import Layout from '../layouts/Page.astro';
import ContactForm from '../components/ContactForm.astro';
---

<Layout>
  <Container narrow topPadding bottomPadding>
    <h1>Contact Us</h1>
    <p>Please Send us a email, at <a href="mailto:contact@matthiesenphotography.com">Contact@MatthiesenPhotography.com</a></Container></p>
    <br>
    <br>
    <p>Notice: Renturned emails will come from <a href="https://matthiesen.xyz">@Matthiesen.XYZ</a> domain instead of our normal domain!</p>
  </Container>
</Layout>
